@font-face {
  font-family: "nunitosans-ELight";
  src: url(../fonts/nunito-sans/NunitoSans-ExtraLight.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "nunitosans-Light";
  src: url(../fonts/nunito-sans/NunitoSans-Light.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "nunitosans-Regular";
  src: url(../fonts/nunito-sans/NunitoSans-Regular.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "NunitoSans-SemiBold";
  src: url(../fonts/nunito-sans/NunitoSans-SemiBold.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "NunitoSans-Bold";
  src: url(../fonts/nunito-sans/NunitoSans-Bold.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "NunitoSans-ExtraBold";
  src: url(../fonts/nunito-sans/NunitoSans-ExtraBold.ttf);
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "gistesy";
  src: url(../fonts/nunito-sans/gistesy.ttf);
  font-style: normal;
  font-weight: normal; }
* {
  box-sizing: border-box; }

div,
section {
  display: block; }

.container-fluid, .container {
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px; }

.container {
  margin: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }
  @media (min-width: 1920px) {
    .container {
      width: 1540px; } }

:root {
  --container_width: 100%;
  --transition: ease all 300ms;
  --headerHeight: 0px;
  --container_left_space: calc((100% - var(--container_width)) / 2);
  --primary_color: #3e2313;
  --secondary_color: #763422;
  --sub_title: #785a52;
  --iconography: #cca27b;
  --color_white: #ffffff; }
  @media (min-width: 768px) and (max-width: 991px) {
    :root {
      --container_width: 750px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    :root {
      --container_width: 970px; } }
  @media (min-width: 1200px) {
    :root {
      --container_width: 1170px; } }
  @media (min-width: 1680px) {
    :root {
      --container_width: 1540px; } }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  margin: 0;
  font-family: "nunitosans-Regular";
  color: var(--primary_color); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "nunitosans-Regular"; }

.g {
  font-family: "gistesy"; }

.n_e_l {
  font-family: "nunitosans-ELight"; }

.n_l {
  font-family: "nunitosans-Light"; }

.n_s_b {
  font-family: "NunitoSans-SemiBold"; }

.n_b, .tertiary_btn {
  font-family: "NunitoSans-Bold"; }

.n_e_b, .primary_btn {
  font-family: "NunitoSans-ExtraBold"; }

.text_xxxl {
  font-size: 90px;
  line-height: 1.6;
  margin: 0 0 20px; }

.text_xxxl {
  font-size: 44px;
  line-height: 1.2;
  margin: 0 0 20px;
  letter-spacing: 2px; }
  @media (max-width: 767px) {
    .text_xxxl {
      font-size: 30px;
      letter-spacing: 0; } }

.text_xxl {
  font-size: 40px;
  line-height: 1.6;
  margin: 0 0 20px; }

.text_xl {
  font-size: 36px;
  line-height: 1.4;
  margin: 0 0 20px;
  letter-spacing: 3px; }
  @media (max-width: 767px) {
    .text_xl {
      font-size: 30px; } }

.text_l {
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0 20px; }

.text_md {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 20px; }

.text_reg {
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 20px; }

.text_sm {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 20px; }

.text_xs {
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 20px; }

.text_xxs {
  font-size: 12px;
  line-height: 1.6;
  margin: 0 0 20px; }

.color_white, .section_3 .video_section .play_btn_section p a {
  color: var(--color_white); }

.primary_color {
  color: var(--primary_color); }

.primary_btn {
  padding: 9px 30px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: var(--color_white);
  transition: linear .1s;
  background-color: transparent;
  border: 1px solid var(--color_white); }
  @media (max-width: 767px) {
    .primary_btn {
      padding: 11px 22px; } }
  .primary_btn .btn_play_icon {
    margin: auto;
    padding-right: 6px;
    display: inline-block;
    vertical-align: bottom; }
  .primary_btn:hover {
    color: var(--primary_color);
    border: 3px solid var(--color_white);
    background-color: var(--color_white); }

.secondary_btn {
  overflow: hidden;
  text-decoration: none;
  position: relative;
  color: var(--secondary_color); }
  .secondary_btn:after {
    content: ' ';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--secondary_color); }
  .secondary_btn:before {
    content: ' ';
    width: 100%;
    height: 1px;
    left: 0;
    z-index: 1;
    bottom: 0;
    position: absolute;
    transition: all .5s ease;
    transform: translateX(-100%);
    background-color: var(--color_white); }
  .secondary_btn:hover:before {
    transform: translateX(100%); }

.tertiary_btn {
  margin-bottom: 0;
  padding: 9px 30px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  color: var(--color_white);
  background-color: #763422;
  transition: linear .1s;
  border: 1px solid var(--color_white);
  position: relative;
  border: 2px solid #F9F5F1; }
  @media (max-width: 767px) {
    .tertiary_btn {
      padding: 11px 22px; } }
  .tertiary_btn:hover {
    border: 2px solid #672614;
    background-color: #672614; }

.f_w_l {
  font-weight: 300; }

.f_w_r {
  font-weight: 400; }

.f_w_m {
  font-weight: 500; }

.f_w_s {
  font-weight: 600; }

.f_w_b {
  font-weight: 700; }

.l_h_2 {
  line-height: 1.2; }

.l_h_3 {
  line-height: 1.3; }

.l_h_4 {
  line-height: 1.4; }

.l_h_5 {
  line-height: 1.5; }

.l_h_6 {
  line-height: 1.6; }

.m_tb_0 {
  margin: 0; }

.m_b_5 {
  margin: 0 0 5px; }

.m_t_5 {
  margin: 5px 0 0; }

.m_tb_5 {
  margin: 5px 0; }

.m_b_10 {
  margin: 0 0 10px; }

.m_t_10 {
  margin: 10px 0 0; }

.m_tb_10 {
  margin: 10px 0; }

.m_b_20 {
  margin: 0 0 20px; }

.m_t_20 {
  margin: 20px 0 0; }

.m_tb_20 {
  margin: 20px 0; }

.m_b_30 {
  margin: 0 0 30px; }

.m_t_30 {
  margin: 30px 0 0; }

.m_tb_30 {
  margin: 30px 0; }

@media (min-width: 1200px) {
  .p_lr_100 {
    padding-left: 100px;
    padding-right: 100px; } }

.pl_5 {
  padding-left: 5px; }

.pl_10 {
  padding-left: 10px; }
  @media (max-width: 767px) {
    .pl_10 {
      padding-left: 5px; } }

.pl_20 {
  padding-left: 20px; }
  @media (max-width: 767px) {
    .pl_20 {
      padding-left: 5px; } }

.p_t {
  padding-top: 20px; }

.pt_10 {
  padding-top: 10px; }

.pb_10 {
  padding-bottom: 10px; }

.ptb_10 {
  padding: 10px 0; }

.pt_20 {
  padding-top: 20px; }

.pb_20 {
  padding-bottom: 20px; }

.ptb_20 {
  padding: 20px 0; }

.pt_30 {
  padding-top: 30px; }

.pb_30 {
  padding-bottom: 30px; }

.ptb_30 {
  padding: 30px 0; }

.pt_40 {
  padding-top: 40px; }

.pb_40 {
  padding-bottom: 40px; }

.ptb_40 {
  padding: 40px 0; }

.pt_50 {
  padding-top: 50px; }

.pb_50 {
  padding-bottom: 50px; }

.ptb_50 {
  padding: 50px 0; }

.ptb_60 {
  padding: 60px 0; }
  @media only screen and (max-width: 767px) {
    .ptb_60 {
      padding: 40px 0; } }

.pt_60 {
  padding-top: 60px; }
  @media only screen and (max-width: 767px) {
    .pt_60 {
      padding-top: 40px; } }

.pb_60 {
  padding-bottom: 60px; }
  @media only screen and (max-width: 767px) {
    .pb_60 {
      padding-bottom: 40px; } }

.pt_70 {
  padding-top: 70px; }

.pb_70 {
  padding-bottom: 70px; }

.ptb_70 {
  padding: 70px 0; }

.pt_80 {
  padding-top: 80px; }
  @media only screen and (max-width: 767px) {
    .pt_80 {
      padding-top: 50px; } }

.pb_80 {
  padding-bottom: 80px; }
  @media only screen and (max-width: 767px) {
    .pb_80 {
      padding-bottom: 50px; } }

.ptb_80 {
  padding: 80px 0; }
  @media only screen and (max-width: 767px) {
    .ptb_80 {
      padding: 50px 0; } }

.ptb_90 {
  padding: 90px 0; }
  @media only screen and (max-width: 767px) {
    .ptb_90 {
      padding: 60px 0; } }

.pt_90 {
  padding-top: 90px; }
  @media only screen and (max-width: 767px) {
    .pt_90 {
      padding-top: 60px; } }

.pb_90 {
  padding-bottom: 90px; }
  @media only screen and (max-width: 767px) {
    .pb_90 {
      padding-bottom: 60px; } }

.ptb_100 {
  padding: 100px 0; }
  @media only screen and (max-width: 991px) {
    .ptb_100 {
      padding: 60px 0; } }

.pt_100 {
  padding-top: 100px; }
  @media only screen and (max-width: 991px) {
    .pt_100 {
      padding-top: 60px; } }

.pb_100 {
  padding-bottom: 100px; }
  @media only screen and (max-width: 991px) {
    .pb_100 {
      padding-bottom: 60px; } }

.text_center {
  text-align: center; }

.text_left {
  text-align: left; }

.text_right {
  text-align: right; }

.text_justify {
  text-align: justify; }

.text_uppercase, .primary_btn, .section_4 .tab_section .button_style .main_tab_btn .btn {
  text-transform: uppercase; }

.width_100, .product_box .text_arrow {
  width: 100%; }

.margin_a {
  margin: auto; }

.d_f {
  display: flex; }

.f_w {
  display: flex;
  flex-wrap: wrap; }

.f_w_j {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.f_j {
  display: flex;
  justify-content: space-between; }

.f_justify {
  justify-content: space-between; }

.f_w_se {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.f_w_around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.f_w_a {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.f_r_aj_between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.f_r_aj_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.f_r_a_center {
  display: flex;
  align-items: center; }

.a_center {
  align-items: center; }

.f_r_j_center {
  display: flex;
  justify-content: center; }

.f_c_aj_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.f_c_a_center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.f_c_j_center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.f_d {
  flex-direction: row-reverse; }

.hidden {
  display: none !important; }

.visible-lg {
  display: block; }
  @media (max-width: 1199px) {
    .visible-lg {
      display: none !important; } }

.hidden-xs {
  display: block; }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important; } }

.hidden-xs-opacity {
  opacity: 1; }
  @media (max-width: 767px) {
    .hidden-xs-opacity {
      opacity: 0 !important; } }

.hidden-sm {
  display: block; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .hidden-sm {
      display: none !important; } }

.hidden-sm-xs {
  display: block; }
  @media (max-width: 1024px) {
    .hidden-sm-xs {
      display: none !important; } }

.visible-sm-xs {
  display: none; }
  @media (max-width: 1024px) {
    .visible-sm-xs {
      display: block !important; } }

.visible-sm {
  display: none; }
  @media (min-width: 767px) and (max-width: 1024px) {
    .visible-sm {
      display: block !important; } }

.visible-xs {
  display: block; }
  @media (min-width: 767px) {
    .visible-xs {
      display: none !important; } }

.visible-xs-opacity {
  opacity: 1; }
  @media (min-width: 767px) {
    .visible-xs-opacity {
      opacity: 0 !important; } }

.overflow_h {
  overflow: hidden; }

.default_transition {
  transition: all 800ms ease-out; }

.toTop[data-scroll] {
  transition: all 0.5s ease-out; }
.toTop[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0); }
.toTop[data-scroll="out"] {
  opacity: 0;
  transform: translateY(100px); }

.toBottom[data-scroll] {
  transition: all 0.5s ease-out; }
.toBottom[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0); }
.toBottom[data-scroll="out"] {
  opacity: 0;
  transform: translateY(-100px); }

.toLeft[data-scroll] {
  transition: all 0.5s ease-out; }
.toLeft[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0); }
.toLeft[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-100px); }

.toRight[data-scroll] {
  transition: all 0.5s ease-out; }
.toRight[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0); }
.toRight[data-scroll="out"] {
  opacity: 0;
  transform: translateX(100px); }

.toFade[data-scroll] {
  transition: all 0.5s ease-out; }
.toFade[data-scroll="in"] {
  opacity: 1; }
.toFade[data-scroll="out"] {
  opacity: 0; }

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background: var(--color_white); }
  @media (max-width: 767px) {
    ::-webkit-scrollbar {
      height: 0;
      background: transparent; } }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary_color);
  border-radius: 0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color_white); }

.postion_relative, .section_3 .video_section, .section_12, .section_12 .some h4 {
  position: relative; }

.postion_absolute, .section_3 .video_section .play_btn_section, .section_12 .some, .section_12 .some h4 .g, .section_12 .sub {
  position: absolute; }

.postion_t_b {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.m_no_padd {
  padding: 0; }

.width_m_80 {
  width: 80%;
  margin: auto; }
  @media (max-width: 767px) {
    .width_m_80 {
      width: 100%; } }

.section_1 .slick-dots {
  bottom: 0;
  height: 30px;
  text-align: right;
  padding-right: 10px; }
  .section_1 .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 6px; }
    .section_1 .slick-dots li.slick-active button:before {
      opacity: 1;
      background: #fff !important; }
    .section_1 .slick-dots li button {
      width: 10px;
      height: 10px;
      opacity: 1; }
      .section_1 .slick-dots li button:before {
        content: "";
        width: 10px;
        height: 10px;
        z-index: 1;
        opacity: 1;
        border-radius: 100%;
        background: #4d4a48 !important;
        border: 1px solid #fff; }
  .section_1 .slick-dots:after {
    content: "";
    width: 88px;
    height: 30px;
    right: 0;
    top: 0;
    position: absolute;
    background-color: #4d4a48;
    border-top-left-radius: 15px; }

.product_box .text_arrow {
  position: relative;
  overflow: hidden;
  padding: 10px;
  bottom: 0;
  transition: all .3s; }
  @media (min-width: 768px) and (max-width: 992px) {
    .product_box .text_arrow {
      padding: 8px 15px; } }
  .product_box .text_arrow::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--text_arrowHeight);
    background-color: #763422;
    z-index: -1;
    transform: translateY(100%);
    transition: all 1s; }
    @media (max-width: 992px) {
      .product_box .text_arrow::after {
        top: 1px; } }
.product_box:hover .text_arrow::after {
  transform: translateY(0); }
.product_box:hover .arrow img {
  filter: brightness(0) invert(1); }
.product_box:hover .text_md {
  color: #fff; }

[data-scroll-parallax] {
  transform: translate3d(0, calc(var(--viewport-y) * -6vh), 0);
  transition: transform 0.12s ease;
  will-change: transform; }

@media (max-width: 767px) {
  .section_1 .icon_section {
    margin: 0 -15px;
    justify-content: flex-start; } }
@media (min-width: 768px) and (max-width: 992px) {
  .section_1 .icon_section {
    justify-content: flex-start; } }
.section_1 .icon_section .icon_box {
  width: 20%;
  position: relative; }
  @media (min-width: 768px) and (max-width: 992px) {
    .section_1 .icon_section .icon_box {
      width: 33.33%;
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .section_1 .icon_section .icon_box {
      width: 33.33%;
      padding: 10px 15px; } }
  @media (max-width: 767px) {
    .section_1 .icon_section .icon_box .text_md {
      font-size: 14px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .section_1 .icon_section .icon_box .text_md {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .section_1 .icon_section .icon_box .icon_box_img {
      position: relative; } }
  @media (max-width: 767px) {
    .section_1 .icon_section .icon_box .icon_box_img img {
      border-radius: 100%;
      border: 2px solid #CCA27B; } }
  .section_1 .icon_section .icon_box .icon_box_img .pluse_img {
    right: 0;
    bottom: 0;
    position: absolute; }
  @media (min-width: 767px) {
    .section_1 .icon_section .icon_box:hover .icon_img {
      opacity: 0; } }
  .section_1 .icon_section .icon_box:hover .hover_icon_box {
    display: block; }
  .section_1 .icon_section .icon_box .hover_icon_box {
    left: 0;
    top: 25px;
    z-index: 1;
    display: none;
    padding: 20px 10px;
    padding-top: 60px;
    border-radius: 9px;
    position: absolute;
    margin-bottom: 50px;
    background-color: #F9F5F1; }
    .section_1 .icon_section .icon_box .hover_icon_box .hover_img {
      top: -40px;
      left: 50%;
      width: 80px;
      position: absolute;
      border-radius: 100%;
      border-radius: 100%;
      border: 2px solid #CCA27B;
      transform: translateX(-50%); }

.section_3 .video_section .play_btn_section {
  right: 0;
  bottom: 0;
  background-color: #9E9287;
  border-top-left-radius: 10px;
  backdrop-filter: blur(18px); }
  .section_3 .video_section .play_btn_section p {
    padding: 20px 30px; }
    .section_3 .video_section .play_btn_section p a {
      text-decoration: none; }
    .section_3 .video_section .play_btn_section p img {
      padding-left: 10px; }

@media screen and (max-width: 767px) {
  .section_4 .tab_section .button_style .main_tab_btn {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center; } }
.section_4 .tab_section .button_style .main_tab_btn .btn {
  width: 33.33%;
  cursor: pointer;
  padding: 24px 0 26px 0;
  text-align: center;
  color: var(--secondary_color);
  border: 1px solid #F1EEED;
  letter-spacing: 1px; }
  @media screen and (max-width: 767px) {
    .section_4 .tab_section .button_style .main_tab_btn .btn {
      width: auto;
      padding-left: 18px;
      padding-right: 18px; } }
  .section_4 .tab_section .button_style .main_tab_btn .btn.active {
    color: var(--color_white);
    background-color: var(--iconography); }
.section_4 .tab_section .button_style .main_tab_btn .btn_m {
  display: flex; }
  .section_4 .tab_section .button_style .main_tab_btn .btn_m .padd_faq {
    padding-right: 8px; }
@media (min-width: 768px) and (max-width: 992px) {
  .section_4 .tab_inside_section .how_to_change {
    width: 100%;
    align-items: flex-start; } }
.section_4 .tab_inside_section .how_to_change .how_img {
  width: 50%;
  padding-right: 30px; }
  @media (max-width: 767px) {
    .section_4 .tab_inside_section .how_to_change .how_img {
      width: 100%;
      padding-right: 0;
      padding-bottom: 30px; } }
.section_4 .tab_inside_section .how_to_change .how_info {
  width: 50%;
  padding-left: 30px; }
  @media (max-width: 767px) {
    .section_4 .tab_inside_section .how_to_change .how_info {
      width: 100%; } }
  .section_4 .tab_inside_section .how_to_change .how_info p {
    position: relative;
    padding-bottom: 20px; }
    .section_4 .tab_inside_section .how_to_change .how_info p:last-child::before {
      height: auto; }
    .section_4 .tab_inside_section .how_to_change .how_info p::after {
      content: ' ';
      width: 8px;
      height: 8px;
      left: -24px;
      top: 14px;
      border-radius: 100%;
      position: absolute;
      background: #CCA27B; }
    .section_4 .tab_inside_section .how_to_change .how_info p::before {
      content: ' ';
      height: 100%;
      left: -21px;
      top: 14px;
      position: absolute;
      border: 1px dashed #CCA27B; }
      .section_4 .tab_inside_section .how_to_change .how_info p::before:last-child {
        height: auto; }
@media (max-width: 767px) {
  .section_4 .tab_inside_section .icon_section_slider {
    display: block; } }
@media (min-width: 768px) and (max-width: 992px) {
  .section_4 .tab_inside_section .icon_section_slider {
    width: 100%;
    flex-wrap: wrap;
    justify-content: unset; } }
@media (max-width: 767px) {
  .section_4 .tab_inside_section .icon_section_slider .icon_box {
    padding: 0 15px;
    width: 30vw !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  .section_4 .tab_inside_section .icon_section_slider .icon_box {
    width: 25%; } }
.section_4 .tab_inside_section .faq_section .faq_box {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #F1EAE8; }
  .section_4 .tab_inside_section .faq_section .faq_box:last-child {
    border-bottom: 0; }
  .section_4 .tab_inside_section .faq_section .faq_box .faq_title {
    margin: 0;
    display: block;
    padding: 15px 0 18px;
    text-decoration: none;
    padding-right: 100px;
    position: relative;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    @media (max-width: 767px) {
      .section_4 .tab_inside_section .faq_section .faq_box .faq_title {
        padding-right: 40px; } }
    .section_4 .tab_inside_section .faq_section .faq_box .faq_title i {
      width: 25px;
      height: 25px;
      top: 50%;
      right: 10px;
      display: flex;
      font-size: 12px;
      color: #3E2313;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      position: absolute;
      transform: translateY(-50%); }
      @media (max-width: 767px) {
        .section_4 .tab_inside_section .faq_section .faq_box .faq_title i {
          right: 5px; } }
      .section_4 .tab_inside_section .faq_section .faq_box .faq_title i::before {
        margin-top: 1px; }
  .section_4 .tab_inside_section .faq_section .faq_box .content {
    display: none;
    padding-bottom: 25px; }
    .section_4 .tab_inside_section .faq_section .faq_box .content p {
      margin: 0;
      padding-right: 100px; }
      @media (max-width: 767px) {
        .section_4 .tab_inside_section .faq_section .faq_box .content p {
          padding-right: 0; } }
.section_4 .tab_inside_section .menufacturing_info .info_info {
  padding-right: 100px; }
  .section_4 .tab_inside_section .menufacturing_info .info_info:last-child {
    padding-right: 0; }

@media (max-width: 992px) {
  .section_5 .text_btn {
    flex-wrap: wrap; } }
@media (max-width: 767px) {
  .section_5 .text_btn .text {
    width: 100%;
    text-align: center; } }
@media (min-width: 768px) and (max-width: 992px) {
  .section_5 .text_btn .text {
    width: 100%; } }
.section_5 .selling_slider {
  margin-left: var(--container_left_space); }
  .section_5 .selling_slider .slider {
    padding: 0 20px; }
    @media (max-width: 767px) {
      .section_5 .selling_slider .slider {
        width: 80vw;
        padding: 0 10px; } }
.section_5 .progress {
  display: block;
  margin-left: 0;
  margin-top: 25px;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ece7e6;
  background-image: linear-gradient(0deg, #3e2313 0%, #3e2313 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  margin-top: 60px;
  transition: background-size 0.4s ease-in-out; }
  @media only screen and (max-width: 767px) {
    .section_5 .progress {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .section_5 .progress {
      width: 100%; } }

.section_12 .some {
  top: 0;
  margin-left: var(--container_left_space); }
  @media (min-width: 768px) and (max-width: 1200px) {
    .section_12 .some {
      padding-top: 0; } }
  .section_12 .some h4 {
    padding-top: 100px;
    padding-left: 70px; }
    .section_12 .some h4 .g {
      top: 0;
      left: 0;
      display: inherit;
      font-size: 90px;
      font-weight: 100; }
      @media (max-width: 767px) {
        .section_12 .some h4 .g {
          top: 20px;
          left: 25px;
          font-size: 70px; } }
.section_12 .sub {
  bottom: 0; }
  .section_12 .sub img {
    opacity: 0.8; }

/*# sourceMappingURL=product_inside.css.map */
