@import "base";

.section_1 {
    position: relative;

    h2 {
        opacity: 0;
    }

    .text_reg {
        opacity: 0;
    }

    .slick-active h2 {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    .slick-active .text_reg {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    @keyframes fadeUp {
        0% {
            transform: translateY(80px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .banner_paginaction {
        top: 25px;
        left: 0;
        z-index: 1;
        position: absolute;
        margin-left: var(--container_left_space);

        @media (max-width: 767px) {
            padding: 0 10px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            padding: 0 15px;
        }

        .text_xs {
            @extend .color_white;

            a {
                @extend .color_white;
                text-decoration: none;
            }
        }
    }

    .banner_slider {
        .slider {
            .slider_info {
                left: 0;
                bottom: 35px;
                position: absolute;
                margin-left: var(--container_left_space);

                @media (max-width: 1200px) {
                    bottom: 0;
                }

                @media (min-width: 768px) and (max-width: 992px) {
                    left: 15px;
                }

                h2 {
                    @media (max-width: 767px) {
                        font-size: 26px;
                        padding: 0 10px;
                        line-height: 35px;
                    }

                    @media (min-width: 768px) and (max-width: 992px) {
                        text-align: left;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }

                //                p {
                //                    @media (max-width: 992px) {
                //                        display: none;
                //                    }
                //                }
            }
        }
    }
}

.section_2 {
    .beauty {
        .img_box {
            width: 48%;
            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .info_box {
            width: 48%;
            @media (max-width: 992px) {
                width: 100%;
                padding-top: 30px;
            }
        }
    }
}

.section_3 {
    h3{
        @media (max-width: 1200px) {
            padding-bottom: 0;
        }
    }
    .journey {
        width: 90%;
        margin: auto;
        @media (max-width: 992px) {
            width: 100%;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            width: 100%;
        }
        .journey_section {
            @media (min-width: 768px) and (max-width: 1200px) {
                padding-top: 50px;
                padding-bottom: 50px;
            }
            &:nth-child(2n+0) {
                .journey_text {
                    order: -1;
                    padding-left: 0;
                    padding-right: 50px;
                    @media (max-width: 992px) {
                        padding-right: 0;
                    }
                }
            }
        }

        .journey_section {
            &:nth-child(1) {
                padding-right: 100px;
                @media (max-width: 992px) {
                    padding-right: 0;
                }
                .journey_text{
                    @media (min-width: 1681px) {
                        padding-left: 0;
                     }
                     @media (max-width: 767px) {
                        padding-top: 40px;
                    }
                }
                .journey_img{
                    img{
                        margin-left: auto;
                        @media (min-width: 1681px) {
                            margin: auto;
                         }
                         @media (max-width: 767px) {
                            margin-right: auto;
                            margin-left: inherit;
                        }
                    }
                }
            }

            &:nth-child(2) {
                padding-left: 100px;
                @media (max-width: 992px) {
                    padding-left: 0;
                }
                .journey_text{
                    padding-right: 20px;
                    padding-left: 50px;
                    @media (max-width: 767px) {
                        order: 1;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    @media (min-width: 768px) and (max-width: 992px) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            &:nth-child(3) {
                padding-right: 100px;
                @media (max-width: 992px) {
                    padding-right: 0;
                }
                .journey_text{
                    @media (max-width: 767px) {
                        padding-top: 0;
                    }
                }
                .journey_img{
                    @media (min-width: 768px) and (max-width: 992px) {
                        margin-top: -70px;
                    }
                }
            }
        }

        .journey_section {
            position: relative;
            @media (max-width: 767px) {
                padding: 15px 0;
            }
            @media (min-width: 1681px) {
                padding-top: 0;
                padding-bottom: 0;
            }

            .line_1 {
                left: 50%;
                width: 70%;
                bottom: -65%;
                position: absolute;
                transform: translateX(-50%);
                @media (max-width: 767px) {
                    display: none;
                }
                @media (min-width: 1681px) {
                   bottom: -80%;
                }
                @media (min-width: 768px) and (max-width: 992px) {
                    width: 74%;
                    bottom: -20%;
                }
                @media (min-width: 993px) and (max-width: 1200px) {
                    bottom: -33%;
                }
            }

            .line_2 {
                left: 51%;
                width: 70%;
                bottom: -23%;
                position: absolute;
                transform: translateX(-50%);
                @media (max-width: 767px) {
                    display: none;
                }
                @media (min-width: 1681px) {
                    bottom: -40%;
                }
                @media (min-width: 768px) and (max-width: 992px) {
                    bottom: -25%;
                }
                @media (min-width: 993px) and (max-width: 1200px) {
                    bottom: -28%;
                }
            }

            .journey_img {
                width: 35%;
                z-index: 1;
                position: relative;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            .journey_text {
                width: 65%;
                padding-left: 50px;
                @media (max-width: 767px) {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}

.section_5 {
    @extend .postion_relative;

    .ingredients_layer_1 {
        top: 0;
        left: -85px;
        width: 480px;
        @extend .postion_absolute;
        @media (max-width: 767px) {
            top: inherit;
            bottom: 290px;
            z-index: 1;
            left: inherit;
            width: 140px;
            right: 10px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 250px;
        }

        @media (min-width: 993px) and (max-width: 1200px) {
            width: 370px;
        }
    }

    .ingredients_layer_2 {
        top: 340px;
        left: -100px;
        width: 370px;
        @extend .postion_absolute;
        @media (max-width: 767px) {
            top: inherit;
            bottom: 0;
            z-index: 1;
            width: 140px;
            left: -30px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 240px;
            left: -70px;
        }
    }

    .ingredients_layer_4 {
        top: 330px;
        right: -145px;
        //        width: 370px;
        @extend .postion_absolute;
        @media (max-width: 767px) {
            top: inherit;
            bottom: 0;
            z-index: 1;
            width: 140px;
            right: -30px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 250px;
            right: -110px;
        }
    }

    .ingredients_layer_5 {
        top: 0;
        right: 100px;
        //        width: 480px;
        @extend .postion_absolute;
        @media (max-width: 767px) {
            top: 0;
            z-index: 1;
            width: 120px;
            right: -30px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 280px;
            right: -100px;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            width: 300px;
            right: -20px;
        }
    }

    .ingredients {
        width: 45%;
        @extend .margin_a;
        @media (max-width: 767px) {
            width: 100%;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 55%;
        }

        .ingredients_layer_3 {
            margin-left: -180px;
            @media (max-width: 767px) {
                // display: none;
                margin-left: 0;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                margin-left: -70px;
            }
        }
    }
}

.section_6 {
    h3 {
        span {
            display: block;
            font-family: $g;
            font-size: 69px;
            margin-left: -320px;
            margin-bottom: -25px;
            text-transform: capitalize;
            @media (max-width: 767px) {
                font-size: 45px;
                margin-left: -220px;
                margin-bottom: -10px;
                padding-top: 30px;
            }
        }
    }

    .colette {
        .colette_img {
            width: 40%;
            //            padding-right: 20px;

            @media (max-width: 992px) {
                width: 100%;
                padding-right: 0;
            }
        }

        .colette_info {
            width: 60%;
            padding-left: 30px;

            @media (max-width: 992px) {
                width: 100%;
                padding-left: 0;
                padding-top: 25px;
            }
        }
    }
}

.section_7 {
    .text_btn {
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .text {
            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }

            @media (min-width: 768px) and (max-width: 992px) {
                width: 100%;
            }
        }
    }

    .selling_slider {
        margin-left: var(--container_left_space);

        .slider {
            padding: 0 20px;

            @media (max-width: 767px) {
                width: 80vw;
                padding: 0 10px;
            }
        }
    }

    .progress {
        display: block;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ece7e6;
        background-image: linear-gradient(0deg,
                rgba(62, 35, 19, 1) 0%,
                rgba(62, 35, 19, 1) 100%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        margin-top: 60px;
        transition: background-size 0.4s ease-in-out;

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            width: 100%;
        }
    }
}

.section_12 {
    @extend .postion_relative;

    .some {
        top: 0;
        @extend .postion_absolute;
        margin-left: var(--container_left_space);

        h4 {
            @extend .postion_relative;
            padding-top: 100px;
            padding-left: 70px;

            .g {
                top: 0;
                left: 0;
                display: inherit;
                font-size: 90px;
                font-weight: 100;
                @extend .postion_absolute;

                @media (max-width: 767px) {
                    top: 20px;
                    left: 25px;
                    font-size: 70px;
                }
            }
        }
    }

    .sub {
        bottom: 0;
        @extend .postion_absolute;

        img {
            opacity: 0.8;
        }
    }
}
