@import "base";

.section_1 {
    position: relative;

    h2 {
        opacity: 0;
    }

    .text_reg {
        opacity: 0;
    }

    .slick-active h2 {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    .slick-active .text_reg {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    @keyframes fadeUp {
        0% {
            transform: translateY(80px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .banner_paginaction {
        top: 25px;
        left: 0;
        z-index: 1;
        position: absolute;
        margin-left: var(--container_left_space);

        @media (max-width: 767px) {
            padding: 0 10px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            padding: 0 15px;
        }

        .text_xs {
            @extend .color_white;

            a {
                @extend .color_white;
                text-decoration: none;
            }
        }
    }

    .banner_slider {
        .slider {
            .slider_info {
                left: 0;
                bottom: 35px;
                position: absolute;
                margin-left: var(--container_left_space);

                @media (max-width: 1200px) {
                    bottom: 0;
                }

                @media (min-width: 768px) and (max-width: 992px) {
                    left: 15px;
                }

                h2 {
                    @media (max-width: 767px) {
                        font-size: 26px;
                        padding: 0 10px;
                        line-height: 40px;
                    }

                    @media (min-width: 768px) and (max-width: 992px) {
                        text-align: left;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }

                //                p {
                //                    @media (max-width: 992px) {
                //                        display: none;
                //                    }
                //                }
            }
        }
    }
}

.section_2 {
    .beauty {
        .img_box {
            width: 48%;
        }

        .info_box {
            width: 48%;
        }
    }
}

.section_3 {
    .journey {
        .journey_section {
            &:nth-child(2n+0) {
                .journey_text {
                    order: -1;
                    padding-left: 0;
                    padding-right: 50px;
                }
            }
        }

        .journey_section {
            &:nth-child(1) {
                padding-right: 100px;
                //                &:after {
                //                    content: ' ';
                //                    width: 100%;
                //                    height: 75px;
                //                    left: 0;
                //                    bottom: 0;
                //                    position: absolute;
                //                    background-size: contain;
                //                    background-position: center;
                //                    background-repeat: no-repeat;
                //                    background-image: url(../img/about/line_1.png);
                //                }
            }

            &:nth-child(2) {
                padding-left: 100px;
            }

            &:nth-child(3) {
                padding-right: 100px;
            }
        }

        .journey_section {
            position: relative;

            .line_1 {
                left: 50%;
                width: 70%;
                bottom: -32%;
                position: absolute;
                transform: translateX(-50%);
            }

            .line_2 {
                left: 51%;
                width: 70%;
                bottom: 5%;
                position: absolute;
                transform: translateX(-50%);
            }

            .journey_img {
                width: 30%;
            }

            .journey_text {
                width: 70%;
                padding-left: 50px;
            }
        }
    }
}

.section_5 {
    @extend .postion_relative;

    .ingredients_layer_1 {
        top: 0;
        left: -85px;
        width: 480px;
        @extend .postion_absolute;
    }

    .ingredients_layer_2 {
        top: 340px;
        left: -100px;
        width: 370px;
        @extend .postion_absolute;
    }

    .ingredients_layer_4 {
        top: 330px;
        right: -145px;
        //        width: 370px;
        @extend .postion_absolute;
    }

    .ingredients_layer_5 {
        top: 0;
        right: 100px;
        //        width: 480px;
        @extend .postion_absolute;
    }

    .ingredients {
        width: 45%;
        @extend .margin_a;

        .ingredients_layer_3 {
            margin-left: -180px;
        }
    }
}

.section_6 {
    h3 {
        span {
            display: block;
            font-family: $g;
            font-size: 69px;
            margin-left: -320px;
            margin-bottom: -25px;
            text-transform: capitalize;
        }
    }

    .colette {
        .colette_img {
            width: 40%;
            //            padding-right: 20px;

            @media (max-width: 767px) {
                width: 100%;
                padding-right: 0;
            }
        }

        .colette_info {
            width: 60%;
            padding-left: 30px;

            @media (max-width: 767px) {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}

.section_7 {
    .text_btn {
        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .text {
            @media (max-width: 767px) {
                width: 100%;
                text-align: center;
            }

            @media (min-width: 768px) and (max-width: 992px) {
                width: 100%;
            }
        }
    }

    .selling_slider {
        margin-left: var(--container_left_space);

        .slider {
            padding: 0 20px;

            @media (max-width: 767px) {
                width: 80vw;
                padding: 0 10px;
            }
        }
    }

    .progress {
        display: block;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ece7e6;
        background-image: linear-gradient(0deg,
                rgba(62, 35, 19, 1) 0%,
                rgba(62, 35, 19, 1) 100%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        margin-top: 60px;
        transition: background-size 0.4s ease-in-out;

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        @media (min-width: 768px) and (max-width: 992px) {
            width: 100%;
        }
    }
}

.section_12 {
    @extend .postion_relative;

    .some {
        top: 0;
        @extend .postion_absolute;
        margin-left: var(--container_left_space);

        h4 {
            @extend .postion_relative;
            padding-top: 100px;
            padding-left: 70px;

            .g {
                top: 0;
                left: 0;
                display: inherit;
                font-size: 90px;
                font-weight: 100;
                @extend .postion_absolute;

                @media (max-width: 767px) {
                    top: 20px;
                    left: 25px;
                    font-size: 70px;
                }
            }
        }
    }

    .sub {
        bottom: 0;
        @extend .postion_absolute;

        img {
            opacity: 0.8;
        }
    }
}
