@import "base";

.section_1 {
    position: relative;

    h2 {
        opacity: 0;
    }

    .text_reg {
        opacity: 0;
    }

    .slick-active h2 {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    .slick-active .text_reg {
        transform: translateY(80px);
        animation: 0.5s fadeUp 0.5s forwards;
    }

    @keyframes fadeUp {
        0% {
            transform: translateY(80px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .banner_paginaction {
        top: 25px;
        left: 0;
        z-index: 1;
        position: absolute;
        margin-left: var(--container_left_space);

        @media (max-width: 767px) {
            padding: 0 10px;
        }

        .text_xs {
            @extend .color_white;

            a {
                @extend .color_white;
                text-decoration: none;
            }
        }
    }

    .banner_slider {
        .slider {
            .slider_info {
                left: 0;
                bottom: 35px;
                position: absolute;
                margin-left: var(--container_left_space);

                @media (max-width: 1200px) {
                    bottom: 0;
                }

                h2 {
                    @media (max-width: 767px) {
                        font-size: 26px;
                        padding: 0 10px;
                        line-height: 40px;
                    }

                    @media (max-width: 992px) {
                        font-size: 35px;
                    }
                }

                p {
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
        }
    }
}

.section_2 {
    .get_in_touch {
        @media (min-width: 768px) and (max-width: 992px) {
            width: 80%;
            margin: auto;
        }

        .get_form {
            width: 48%;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        .get_info {
            width: 48%;

            @media (max-width: 992px) {
                width: 100%;
                padding-top: 50px;
            }

            .office {
                padding: 40px 30px;
                background-color: #F9F5F1;

                @media (max-width: 767px) {
                    padding: 25px 15px;
                }

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        @extend .pb_10;
                        padding-left: 35px;
                        @extend .postion_relative;

                        &:last-child {
                            padding-bottom: 0;
                        }

                        a {
                            @extend .text_reg;
                            @extend .primary_color;
                            text-decoration: none;

                            img {
                                left: 0;
                                top: 6px;
                                @extend .postion_absolute;
                            }
                        }
                    }
                }

                .btn_section {
                    display: inline-block;

                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}

.section_12 {
    @extend .postion_relative;

    .some {
        top: 0;
        @extend .postion_absolute;
        margin-left: var(--container_left_space);

        h4 {
            @extend .postion_relative;
            padding-top: 100px;
            padding-left: 70px;

            .g {
                top: 0;
                left: 0;
                display: inherit;
                font-size: 90px;
                font-weight: 100;
                @extend .postion_absolute;

                @media (max-width: 767px) {
                    top: 20px;
                    left: 25px;
                    font-size: 70px;
                }
            }
        }
    }

    .sub {
        bottom: 0;
        @extend .postion_absolute;

        img {
            opacity: 0.8;
        }
    }
}
