@import 'base';

.section_1 {
    .banner_slider {
        .slider {
            @extend .postion_relative;

            .slider_info {
                @extend .width_100;
                @extend .postion_t_b;

                .text_xl {
                    @extend .color_white;
                    @extend .n_s_b;
                    @extend .text_uppercase;
                }
            }
        }
    }
}

.section_2 {
    @extend .postion_relative;

    .layer_1 {
        top: -10px;
        z-index: 1;
        left: -19%;
        width: 875px;
        @extend .postion_absolute;
    }
    .layer_2 {
        top: 10px;
        right: -210px;
        @extend .postion_absolute;
    }
    .layer_3 {
        bottom: -50px;
        left: -165px;
        @extend .postion_absolute;
    }
    .layer_4 {
        bottom: -100px;
        right: -165px;
        @extend .postion_absolute;
    }
    .philosophy_info {
        &:nth-child(even) {
            .philosophy_img {
                order: 1;
                margin-top: -180px;
            }
    
            .philosophy_text {
                padding-right: 40px;
            }
        }
    }
    
    .philosophy_info {
        .philosophy_img {
            width: 30%;
            margin-top: -110px;
        }
    
        .philosophy_text {
            width: 70%;
        }
    }
}

.section_4{
    padding: 122px 0;
    @extend .postion_relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/home/brand_bg.jpg);
    .brand_slider{
        padding: 100px;
        backdrop-filter: blur(8px);
        background-color: rgba(255, 255, 255, 0.4);
        .slick-dots {
            bottom: -60px;
            text-align: center;
            margin-left: -100px;
    
            li {
                width: 10px;
                height: 10px;
                margin: 0 6px;
    
                &.slick-active {
                    button {
                        &:before {
                            opacity: 1;
                            background: var(--primary_color);
                        }
                    }
                }
    
                button {
                    width: 10px;
                    height: 10px;
                    opacity: 1;
    
                    &:before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        z-index: 1;
                        opacity: 1;
                        border-radius: 100%;
                        background: #fff;
                        border: 1px solid var(--primary_color);
                    }
                }
            }
        }
        .slider{
            .brand_info{
                width: 80%;
                @extend .margin_a;
                @extend .text_center;
            }
            .brand_logo{
                width: 85%;
                @extend .margin_a;
            }
        }
    }
}

.section_5{
    .selling_slider{
        margin-left: var(--container_left_space);
        .slider{
            padding: 0 20px;
        }
    }
    .progress {
        display: block;
        margin-left: 0;
        margin-top: 25px;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        overflow: hidden;
        background-color: #ECE7E6;
        background-image: linear-gradient(0deg, rgba(62,35,19,1) 0%, rgba(62,35,19,1) 100%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        margin-top: 60px;
        transition: background-size 0.4s ease-in-out;
    
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    
        @media (min-width: 768px) and (max-width: 992px) {
            width: 100%;
        }
      }
}

.section_6{
    .products{
        margin-right: var(--container_left_space);
        .left_product{
            width: 50%;
        }
        .right_product{
            width: 50%;
        }
    }
}


